img {
    max-width: 50%;
}

html {
    background-color: #dee3f7
}

body {
    margin: auto;
    text-align: center;
    font-family: homenaje, sans-serif;
    font-size: 20px;
}

h3 {
    font-family: wire-one, sans-serif;
    font-size: 70px
}

footer {
    text-align: center;
    font-size: 20px;
    font-family: wire-one, sans-serif;
    
}

h5 {
    font-family: open-sans, sans-serif; 
    font-size: 10px;
}
