img{
    max-width: 25%;
}

html{
    background-color: #D9F1C8
}

body{
    margin:auto;
    text-align: center
}

h1 {
    font-family: give-you-glory, sans-serif;
    font-weight: 900;
    font-style: normal;
}
p {
    font-family: antic, sans-serif;
    font-weight: 300;
    font-style: normal;
}